<ion-modal #modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ modalTitle }}</ion-title>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [disabled]="!placeForm.valid"
            >Guardar</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <form [formGroup]="placeForm">
        <!-- Place Name -->
        <ion-item>
          <ion-label position="stacked">Nombre del Recinto *</ion-label>
          <ion-input
            type="text"
            placeholder="Ingrese el nombre del recinto"
            formControlName="name"
            [class.ion-invalid]="nameControl?.invalid && nameControl?.touched"
          ></ion-input>
        </ion-item>

        <!-- Validation messages for name -->
        @if (nameControl?.invalid && nameControl?.touched) {

        <div class="error-messages">
          @if (nameControl?.errors?.['required']) {
          <p class="error-text">El nombre del Recinto es obligatorio</p>
          } @if (nameControl?.errors?.['minlength']) {
          <p class="error-text">El nombre debe tener al menos 2 caracteres</p>
          }
        </div>
        }

        <!-- Location Selection -->
        <ion-item>
          <ion-label position="stacked">Ubicación *</ion-label>
          <ion-select
            placeholder="Seleccione una ubicación"
            formControlName="locationId"
            [class.ion-invalid]="
              locationControl?.invalid && locationControl?.touched
            "
          >
            @for (location of locations; track $index) {
            <ion-select-option [value]="location.id">
              {{ location.name }} </ion-select-option
            >}
          </ion-select>
        </ion-item>

        <!-- Validation messages for location -->
        <div
          *ngIf="locationControl?.invalid && locationControl?.touched"
          class="error-messages"
        >
          @if (locationControl?.errors?.['required']) {
          <p class="error-text">La Ubicación es obligatoria</p>
          }
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
