<ion-button
  fill="solid"
  color="primary"
  [routerLink]="['/ubicaciones/ingresar']"
>
  <ion-icon ios="add-outline" md="add-sharp" slot="start"></ion-icon>
  Agregar Ubicación
</ion-button>

<ion-grid>
  <ion-row class="header-row">
    <ion-col size="1">#</ion-col>
    <ion-col size="10">Nombre</ion-col>
    <ion-col size="1">Acciones</ion-col>
  </ion-row>

  @defer (when !locationsData.isLoading()) { @if (locationsData.error()) {
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <p>Error cargando Ubicaciones: {{ locationsData.error() }}</p>
    </ion-col>
  </ion-row>
  } @else { @for (location of locationsData.value(); track $index) {
  <ion-row [class.loading-row]="isRowLoading(location.id)">
    <ion-col size="1">{{ location.id }}</ion-col>
    <ion-col size="10">{{ location.name }}</ion-col>
    <ion-col size="1">
      <ion-button
        color="primary"
        size="small"
        [routerLink]="'/ubicaciones/modificar/' + location.id"
        [disabled]="isRowLoading(location.id)"
      >
        <ion-icon
          ios="create-outline"
          md="create-sharp"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
      <ion-button
        fill="outline"
        color="danger"
        size="small"
        (click)="showDeleteAlert(location.id)"
        [disabled]="isRowLoading(location.id)"
      >
        <ion-icon
          ios="trash-outline"
          md="trash-sharp"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  } @if (locationsData.value()?.length === 0) {
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      No hay ubicaciones disponibles.
    </ion-col>
  </ion-row>
  } } } @placeholder {
  <app-skeleton-row [rows]="5" [cellsSizes]="[1, 10, 1]"></app-skeleton-row>
  }
</ion-grid>
<ion-toast
  [isOpen]="toast.isOpen()"
  [message]="toast.message()"
  [duration]="5000"
></ion-toast>
