<ion-button fill="solid" color="primary" [routerLink]="['/recintos/ingresar']">
  <ion-icon ios="add-outline" md="add-sharp" slot="start"></ion-icon>
  Agregar Recinto
</ion-button>

<ion-grid>
  <ion-row class="header-row">
    <ion-col size="1">#</ion-col>
    <ion-col size="5">Nombre</ion-col>
    <ion-col size="4">Ubicación</ion-col>
    <ion-col size="2">Acciones</ion-col>
  </ion-row>

  @defer (when !placesData.isLoading()) { @if (placesData.error()) {
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <p>Error cargando Recintos: {{ placesData.error() }}</p>
    </ion-col>
  </ion-row>
  } @else { @for (place of placesData.value(); track $index) {
  <ion-row [class.loading-row]="isRowLoading(place.id)">
    <ion-col size="1">{{ place.id }}</ion-col>
    <ion-col size="5">{{ place.name }}</ion-col>
    <ion-col size="4">{{ place.location.name }}</ion-col>
    <ion-col size="2">
      <ion-button
        color="primary"
        size="small"
        [routerLink]="'/recintos/modificar/' + place.id"
        [disabled]="isRowLoading(place.id)"
      >
        <ion-icon
          ios="create-outline"
          md="create-sharp"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
      <ion-button
        fill="outline"
        color="danger"
        size="small"
        (click)="showDeleteAlert(place.id)"
        [disabled]="isRowLoading(place.id)"
      >
        <ion-icon
          ios="trash-outline"
          md="trash-sharp"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  } @if (placesData.value()?.length === 0) {
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      No hay recintos disponibles.
    </ion-col>
  </ion-row>
  } } } @placeholder {
  <app-skeleton-row [rows]="5" [cellsSizes]="[1, 5, 4, 2]"></app-skeleton-row>
  }
</ion-grid>
<ion-toast
  [isOpen]="toast.isOpen()"
  [message]="toast.message()"
  [duration]="5000"
></ion-toast>
